*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regola di reset */

body{
    font-family: sans-serif;
}
.row{
    display: flex;
    /* prova*/
}
/* regole generali */

.nav-footer{
    background-color: #ED722E;
}


.container-header{
    max-width: 80%;

    /*  */
    justify-content: space-between;
    
    margin-right: auto;
    margin-left: auto;

    color: white;
}
    
.container-header .Logo img{
    width: 100px;

    padding: 10px;
    
}
.container-header .icone{
    padding: 5px;
    text-align: center;
}

.container-header .Generi{

    padding: 10px;
    text-align: center;
}
/* inzio prove immagini di background */

.double-image{
    position: relative;
    width: 300px;
    max-width: 100%;
}
.double-image .first-img{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    object-fit: contain;
    
}

.double-image:hover .second-img{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    object-fit: contain;
    transition: 2s;
}
.product{
    /* position: absolute; */
    
    
}



/* 
.container-images .img-1 .double-image{
    width: 300px;
    position: relative;
    display: inline-block;
    
}
.sizig .double-image .first-img {
    position: absolute;

    display: none;
    top: 0%;
    bottom: 0%;
    z-index: 99;
}
.sizig .double-image:hover {
    display: inline;
} */



/* inzio prove immagini di background */


/* inzio main */

main .showcase .row {
    gap: 15px;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    
}




.sizing img{

    max-width: 300px;
    

}

.showcase .container-images .ob-3 .Price {

    color: red;

}
.showcase .container-images .ob-3 .ex-Price{
    text-decoration: line-through;
} 

.pd-bottom{
    padding-bottom: 30px;
}

/* fine parte main */

.footer-section{
    background-color: #1A1A1A;
    color:white;
    

}

.footer-data{

    

    padding: 40px;
}

.footer-section .company-name{
    justify-content: space-between;
    width: 80%;

    
    /*  */
    justify-content: space-between;
    
    margin-right: auto;
    margin-left: auto;

    padding: 20px;

}

.footer-data {
    width: 80%;

    
    
    justify-content: space-between;
    
    margin-right: auto;
    margin-left: auto;
}



.info{
    display: inline-block;
    font-weight: lighter;
    font-size: 0.7em;
}

/* aggiustare il footer */